@model Doanphanmem.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}﻿

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="Register" name="Account" Method="post">
                <h1>Tạo Tài Khoản</h1>
                <div class="social-container">
                </div>
                <input type="text" placeholder="Tên Người Dùng" name="TenKH" />
                <input type="number" placeholder="Số Điện Thoại" name="sdt" />
                <input type="text" placeholder="Địa Chỉ" name="DiaChi" />
                <input type="text" placeholder="Tên Đăng nhập" name="TK" required/>
                <input type="password" placeholder="Pass" id="Pass" name="Pass" required/>
                <button onclick="return validatePass()">Đăng Ký</button>
            </form>
        </div>

        <div class="form-container sign-in-container">        
            <form action="Login" name="Account" Method="post">
                <h1>Đăng Nhập</h1>
                <div class="social-container">
                </div>
                <input type="text" placeholder="Tên Đăng nhập" name="TK" />
                <input type="password" placeholder="Pass" name="Pass" />
                <button>Đăng Nhập</button>
            </form>
         </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Xin Chào!</h1>
                    <button class="ghost" id="signIn">Đăng Nhập</button>
                    <a style="color:white; font-weight:bold;" class="ghost"  href="~/SanPhams/Index">Về Trang Chủ</a>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin Chào!</h1>
                    <button class="ghost" id="signUp">Đăng Ký</button>
                    <a style="color: white; font-weight: bold;" class="ghost" href="~/SanPhams/Index">Về Trang Chủ</a>
                </div>
            </div>
        </div>
    </div>
